<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotação USD/EUR - BRL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Cotação de moedas</h1>
            </div>
            <div class="card-body">
                <p class="lead text-center">A cotação atual do dólar é: R$ {{ usd_to_brl }}</p>
                <p class="lead text-center">A cotação atual do euro é: R$ {{ eur_to_brl }}</p>
            </div>
        </div>
    </div>
</body>
</html>
